nav {
  color: #ffffff;
  height: 120px;
  background-color: #4956a1;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav span {
  font-family: 'Bungee', cursive;
}

#nav-new {
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  nav {
    background-color: #77007d;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }
 }